.about {
  position: var(--position-absolute);
  left: var(--left-screen);
  top: var(--top-screen);
  right: var(--right-screen) ;
  bottom: var(--bottom-screen);
  box-sizing: var(--box-type);
  display: flex;
}

.about__content {
  width: 50%;
  height: 100%;
  padding: 0 1%;
  color: var(--color-paragraph);
  box-sizing: var(--box-type);
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.subtitle {
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
}

.about__container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.text {
  font-size: 0.9rem;
  margin: 2%;
  text-align: justify;
}

.about__subtitle {
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2% 0;
}

.link__btn {
  text-decoration: none;
  font-weight: 500;
  color: #a8a6a6;
	margin: 15px;
  padding: 5px;
	border: #5a5757 1px solid;
	border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 6rem;
}

.link__btn:hover {
  background-color: #0e222b;
  box-shadow: black 0px 0px 10px;
}

/* ---- Hobbies content ----*/

.hobbies__content {
  width: 50%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.subtitle {
  color: var(--color-text);
  font-size: 1.5rem;
  margin: 0 0 2% 0;
  text-align: center;
}

.hobbies__container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}

.container__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: var(--box-type);
  padding: 5px;
  margin-bottom: 25px;
  cursor: pointer;
}

.container__box:hover {
  background-color: #244150;
  border-radius: 15px;
}

.description__box {
  display: flex;
  flex-direction: column;
}

blockquote {
  color: var(--color-blockquote);
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 1%;
}

.paragraph {
  color: var(--color-paragraph);
  font-size: 0.9rem;
  margin: 0 1%;
  text-align: justify;
}

.paragraph {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}

.paragraph__deactive {
  display: none;
}

.ellipsis {
  color: var(--color-paragraph);
  font-size: 1rem;
  margin: 0 auto;
  padding: 0;
}

.icon {
  min-width: 60px;
  height: 100px;
  padding: 0 1%;
  color: #b36d1d;
}

/* ----Scrollbar style---- */
.about__container::-webkit-scrollbar,
.hobbies__container::-webkit-scrollbar {
  width: 7px;
}

.about__container::-webkit-scrollbar-thumb,
.hobbies__container::-webkit-scrollbar-thumb {
  background-color: #5f6263;
  border-radius: 10px;
}

.about__container::-webkit-scrollbar-corner,
.hobbies__container::-webkit-scrollbar-corner {
  display: none;
}

.about__container::-webkit-scrollbar-thumb:hover,
.hobbies__container::-webkit-scrollbar-thumb:hover {
  background-color: #0e222b;
  border-radius: 10px;
}

/* Estilização da div pizzaSlice */

.pizza {
  min-width: 220px;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.pizzaSlice_one {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 110px;
  height: 110px;
  background-color: #66d174;
  clip-path: ellipse(100px 100px at 2% 2%);
  color: black;
}

.pizzaSlice_two {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 110px;
  height: 110px;
  background-color: #ee5338;
  clip-path: ellipse(100px 100px at 2% 2%);
  color: black;
  transform: rotate(90deg);
}

.pizzaSlice_three {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 110px;
  height: 110px;
  background-color: #6387e9;
  clip-path: ellipse(100px 100px at 2% 2%);
  color: black;
  transform: rotate(180deg);
}

.pizzaSlice_four {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 110px;
  height: 110px;
  background-color: #e9b658;
  clip-path: ellipse(100px 100px at 2% 2%);
  color: black;
  transform: rotate(270deg);
}

.pizzaSlice_one:hover {
  box-shadow: #8d8989 -5px -5px 1px;
  margin: -15px;
}

.pizzaSlice_two:hover {
  box-shadow: #8d8989 -5px -5px 1px;
  margin: 0 0 -15px -15px;
}

.pizzaSlice_three:hover {
  box-shadow: #8d8989 -5px -5px 1px;
  margin: -15px 0 0 -15px;
}

.pizzaSlice_four:hover {
  box-shadow: #8d8989 -5px -5px 1px;
  margin: -15px -15px 0 ;
}

.text_one {
  position: absolute;
  left: 10px;
  top: 25px;
  margin: 0;
  transform: rotate(45deg);
}

.text_two {
  transform: rotate(-130deg);
  position: absolute;
  top: 30px;
  margin: 0;
}

.text_three {
  transform: rotate(230deg);
  position: absolute;
  top: 30px;
  left: -5px;
  margin: 0;
}

.text_four {
  transform: rotate(45deg);
  position: absolute;
  top: 20px;
  bottom: 35px;
  margin: 0;
}

.card_deactive {
  display: none;
}

.text__highlight {
  color: #171718;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card_text {
  font-size: 0.9rem;
  color: #171718;
  text-align: center;
  margin: 0 5px;
  padding: 0;
}

.card_one,
.card_two,
.card_three,
.card_four {
  width: 250px;
  height: 102px;
  z-index: 5;
  position: absolute;
  box-sizing: var(--box-type);
  display: flex;
  align-items: center;
}

.card_one {
  background-color: #66d174;
  bottom: -7px;
  right: 95px;
  border-radius: 10px 0 0 10px;

}

.card_two {
  background-color: #ee5338;
  bottom: -7px;
  left: 95px;
  border-radius: 0 10px 10px 0;
}

.card_three {
  background-color: #6387e9;
  top: -7px;
  left: 95px;
  border-radius: 0 10px 10px 0;
}

.card_four {
  background-color: #e9b658;
  top: -7px;
  right: 95px;
  border-radius: 10px 0 0 10px;
}
