.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    gap: 5px;
    margin: 5px 0;
    padding: 0;
}

.footer p {
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    color: #aaa2a2;
    text-shadow: black 10px 5px 3px;
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0;
    padding: 0;
}

.tradeMark {
    border-radius: 50%;
    box-shadow: black 5px 5px 5px;
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 12px;
    box-sizing: border-box;
    margin: 10px;
    margin: 0;
}

.icon {
    font-size: 1rem;
    color: #ffffff;
    box-shadow: black 5px 5px 7px;
}
.icon_git{
    font-size: 1rem;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: black 7px 5px 7px;
}

@media screen and (max-width: 670px){
    .footer {
        left: 0;
        flex-wrap: nowrap;
    }
}