:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(202, 188, 188, 0.87);
  background-color: #373a40;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Variaveis gerais de posicionamento no viewport */
  --position-absolute: absolute;
  --left-screen: 150px;
  --top-screen: 2vh;
  --right-screen: 0;
  --bottom-screen: 6.5vh;
  --box-type: border-box;
  --color-text: #c4baba;
  --color-text-btn: #c4baba;
  --color-paragraph: #e6e2e2;
  --color-blockquote: #9bdbd6;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
}

